@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Inconsolata:wght@300;400;500&family=Kiwi+Maru:wght@300;400;500&family=Montserrat:wght@300;400;500&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100&display=swap');
/* font-family: 'Fira Code', monospace;
font-family: 'Inconsolata', monospace;
font-family: 'Kiwi Maru', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* ########## DESIGNING HEADER ########### */

.toogle-hide {
  display: block;
}

.menu {
  display: none;
}

header {
  position: relative;
  width: 100%;
  height: 35rem;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: linear-gradient( rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38));
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

header>.bgimage {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  width: 100%;
}

header>.bgimage>img {
  color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 35rem;
  object-fit: cover;
  object-position: 0 90%;
}

header>.container-fluid {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header>.container-fluid>nav {
  z-index: 100;
}

header>.container-fluid>nav>ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  /* background-color: green; */
  margin: 2rem 6rem;
  /* width: 100%; */
  padding: 1.2rem;
}

header>.container-fluid>nav>ul>li>a {
  font-size: 1.15rem;
  text-decoration: none;
  padding: 0 2rem;
  color: white;
}

header>.container-fluid>nav>ul>.first_child_home>a {
  color: #00dd8c;
}

/* .menu {
  /* position: relative; */

/* width: 100%; 
} */

.menu>button {
  background-color: white;
}

.menu>.menu-dropdown-content {
  display: none;
  z-index: 2;
  position: absolute;
  top: 9rem;
  left: 2.5%;
  background-color: rgb(255, 255, 255);
  width: 95%;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.menu .menu-dropdown-content ul {
  list-style: none;
  padding: 0;
}

.menu .menu-dropdown-content ul li {
  padding: 0.9rem 8rem;
  /* background-color: yellow; */
}

.menu .menu-dropdown-content ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  /* background-color: green; */
  align-items: center;
  color: black;
  padding: 0.2rem 0;
}

.menu button:focus, button:active {
  outline: none;
  box-shadow: none;
}

header>.container-fluid>.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}

header>.container-fluid>.header-text>.tagline {
  color: white;
  font-size: 2.9rem;
  font-weight: bold;
}

header>.container-fluid>.header-text>.tagline2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  font-size: 1.7rem;
}

.header-text>.button-get-started {
  width: 100%;
  /* margin: 3rem 15rem; */
}

.header-text>.button-get-started>.btn-get {
  width: 15rem;
  height: 3rem;
  background-color: #fb641b;
  ;
  /* background-color: #56c099; */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  border-radius: 0.2rem;
}

.header-text>.button-get-started>.btn-get-whatsapp {
  width: 15rem;
  height: 3rem;
  background-color: #198754;
  margin: 1rem 0 0 0 ;
  /* background-color: #56c099; */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  border-radius: 0.2rem;
}

.logo>img {
  background-color: white;
  border-radius: 50%;
  width: 6rem;
  object-fit: cover;
}

/* ###################################### */

/*  Card-Categ ##*/

.card-categ {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: orangered; */
}

.card-categ>.heading-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1rem 1rem;
  color: black;
}

.card-categ>.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  /* background-color: green; */
  /* padding: 2rem; */
}

.card-categ>.container>.badge-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

.card-categ>.container>.badge-col>i {
  font-size: 3.5rem;
  color: #35a17a;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0.1rem solid black; */
}

.card-categ>.container>.badge-col>p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #35a17a;
  margin-left: 1rem;
}

/* ############# */

.container-book {
  width: 90%;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.container-book .btn-whatsapp {
  width: 50%;
  height: 3rem;
  margin-bottom: 2rem;
  background-color: #198754;
  color: white;
}

.container-book .btn-telephone {
  width: 50%;
  height: 3rem;
}

/* ######### Footer Design #########*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #070000;
  width: 100%;
  height: auto;
  padding: 1.5rem;
}

footer .footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-row .footer-col {
  /* margin-top: 4rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .footer-col > (.footer-col-<number>-heading && .footer-col-heading) siblings (.footer-col-para > ul > li > a > i && txt) */

.footer-col .footer-col-heading {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}

.footer-col .footer-col-para {
  color: #909090;
  padding: 1rem 0.5rem;
  font-size: 0.9rem;
  margin-left: 1rem;
}

.footer-col .footer-col-para:hover {
  color: white;
}

.footer-col .social-icons {
  font-size: 1.7rem;
  color: #909090;
}

.footer-col .social-icons i {
  margin: 0 0.5rem;
}

.footer-col .social-icons i:hover {
  color: white;
  cursor: pointer;
}

.footer-col .footer-col-para ul {
  list-style-type: none;
}

.footer-col .footer-col-para ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.2rem 1rem;
}

.footer-col .footer-col-para ul li:hover a {
  color: white;
  text-decoration: underline;
}

.footer-col .footer-col-para ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #909090;
}

.footer-col .footer-col-para ul li a i {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: white;
}

/* ################################ */

/* Media query which reduces the font size and its relative degree */

@media (max-width: 998px) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 75%;
  }
}

/* Responsive Design for Mobile  */

@media (max-width: 998px) {
  .card-categ>.container>.badge-col {
    margin: 0;
  }
  .toogle-hide {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu>.menu-dropdown-content {
    display: none;
  }
  header>.bgimage>img {
    color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 35rem;
    object-fit: cover;
    object-position: 70% 90%;
  }
}

@media (max-width: 642px) {
  /* Mobile Design */
  .card-categ>.container>.badge-col {
    margin: 0;
  }
  .toogle-hide {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu>.menu-dropdown-content {
    display: none;
  }
  .footer-row .footer-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
  }
  header>.bgimage>img {
    color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 35rem;
    object-fit: cover;
    object-position: 65% 20%;
  }
}